<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>realtimeChat</title>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
      <style>
        .received-message {
          color: #555;
          font-style: italic;
          padding: 10px 0 5px;
          border-bottom: 1px solid #ddd;
        }
        .received-message:last-child {
          font-size: 2em;
        }
      </style>
  </head>

  <body>
    <div class="container" role="main">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="input-send-message">
        </div>
        <button type="submit" class="btn btn-default">Send</button>
      </form>
      <div id="received-messages">
      </div>
    </div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
