<h2>Listing rooms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= link room.name, to: room_path(@conn, :show, room) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New room", to: room_path(@conn, :new) %>
<%= link "Lobby", to: page_path(@conn, :index) %>
