<h2>Room: <%= @room.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th>user_id</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
<%= for message <- @messages do %>
    <tr>
      <td><%= message.user_id %></td>
      <td><%= message.content %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "List room", to: room_path(@conn, :index) %>
