<h2>Room: <%= @room.name %></h2>

<div id="received-messages">
  <%= for message <- @messages do %>
    <div class="received-message"><%= message.content %></div>
  <% end %>
</div>

<%= link "List room", to: room_path(@conn, :index) %>
